<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
        {% endblock %}
        | Luciano Campos Kriegl
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <div id='logotipo'>
            <!-- logo django -->
            <img id="image" src="{% static 'images/logo.png' %}">
            <h1>Proyecto con Django </h1>
        </div>
    </header>
   
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>
            {% for page in pages %}
                <li>
                    <a href="{% url 'page' slug=page.2 %}">{{page.1}}</a>
                </li>
           {% endfor%}
        </ul>

    </nav>

    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
  <div class="box">  
    <div id="content">
        {% block content%}
        <strong>Contenido del bloque original!!</strong>
        {% endblock %}
    </div> 
    </div> 
<footer>
    Master en Python &copy; Luciano Campos Kriegl - {% now "d/m/Y" %}

</footer>
</body>
</html>