{% extends 'layout.html' %}
{% load filters %}

{% block title %} Página de pruebas {% endblock %}

{% block content %}

<h1 class="title">Página de mi web</h1>
<p>{{ "Creado por Víctor Robles ñññ"|cut:"ñ" }}</p>

<p>
    {{texto|default:"no hay nada"}}
</p>

<p>
    {{lista|join:', '}}
</p>

<p>
    {{lista|random}}
</p>

<p>
    {{"texto pruebas"|length}}
</p>

<p>
    {{"texTo Pruebas"|lower}}
</p>

<p>
    {{"<h1>texTo</h1> <strong>Pruebas</strong> hola <p> mundo </p>"|striptags|wordcount}}
</p>

{{"Victor"|saludo|safe}}

{% endblock%}